body {
    width: 100%;
	height: 100%;
    margin: 0;
	padding-bottom: 5em;
}
#banner {
    width: 100%;
    padding-top: 58px;
    display: block;
    border-bottom-color: dimgrey;
}

#no-left {
	padding: unset;
	display: flex;
    flex-direction: column;
}

#croch-button{
	align-self: center;
}
#centerbutt {
	text-align: center;
	padding: 0;
}

.footer {
  	position: fixed;
  	left: 0;
  	bottom: 0;
  	width: 100%;
  	background-color: lavenderblush;
  	color: white;
  	text-align: center;
}

/* Navigation Bar */
#nav {
    background-color: lavenderblush;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 24px;
    padding: 20px 0px;
    font-family: 'Roboto Condensed', sans-serif;
    position: sticky;
	top: 0;
	z-index: 1;
}
.button {
    color: dimgrey; 
    text-decoration: none;
    margin-right: 20px;
    width: 100%;
}

/* a:hover {color:#F7D129} */
#alive1 {color: #726daf;} /*yellow */
#alive2 {color: #EF2B2B;} /* red  */
#alive3 {color: #14D356;} /* green */
#alive4 {color: #394EEF;} /* blue */
#alive5 {color: #EB23B5;} /* pink */
#alive6 {color: #C01DF0;} /* purple 726daf */ 
#alive7 {color: #2BD6FF;} /* teal */

a{
	text-decoration: unset;
}

#cat {
	margin: 0 25px 0 0;
}
.cat-love {
	margin-top: auto;
	margin-bottom: auto;
}
.cat-container {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

a:not(.button):not(.dropbtn):not(.exclude-style) {
	padding: 10px;
    background-color: grey;
/*	margin: 25px;*/
	border-radius: 15px;
	color: azure;
	white-space: nowrap;
}

.fadeOut{
	animation: fadeO ease 4s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes fadeO {
	0% {
		opacity: 1;
		visibility: visible;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadeI {
	0% {
		opacity: 0;
		visibility: hidden;
	}
	100% {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes up {
	0% {
		margin-top: 270px;
	}
	100% {
		margin-top: 25px;
	}
}


.tile{
	max-width: 300px;
	text-align: center;
	padding: 8px;
	background-color: aliceblue;
	margin: 8px;
	border-radius: 8px;
}
.tile > p {
	padding-left: 0;
	text-align: center;
	margin-bottom: 30px;
}
.tile > a > img {
	max-height: 200px;
	max-width: 280px;
}
.tile-overview{
	padding: 0;
	margin: 10px;
}
.tiles{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.red-button{
	background-color: #EF2B2B !important;
}
.pink-button{
	background-color: #EB23B5 !important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    color: dimgrey;
    padding-right: 20px;
    z-index: 1;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: 'Roboto Condensed', sans-serif;
}
/* Links inside the dropdown */
.dropdown-content a {
    background-color: black;
    color: white;
    background-color: dimgrey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 1;
	margin: unset;
	border-radius: unset;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #14D356;
    z-index: 1;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    z-index: 1;
}
.proj-button:visited .dropdown-content {
    display: block;
    z-index: 1;
}
.alive3:visited .dropdown-content {
    display: block;
    z-index: 1;
}

/* HOME PAGE */
.title-overview {
	font-size: 20px;
}
#title {
	position: absolute;
	width: 100%;
	top:0;
	left:0;
}

#title99-class {
	color: #FDE636;
	font-style: italic;
	margin: 15px 0px 25px 0px;
	padding-left: 100px;
	background-color: darkseagreen;
    font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-left: auto;
/*	background-color: aliceblue;*/
/*	animation: up ease 4s;*/
	animation-delay: 5s;
	animation-fill-mode: backwards;
	font-size: 30px;
	float: center;
}

h1.title {
    color: #FDE636;
	margin: 25px 0px -15px 0px;
    font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-left: auto;
	animation: up ease 4s;
	animation-delay: 5s;
	animation-fill-mode: backwards;
/*	margin: unset;*/
	font-size: 70px;
	float: center;
}
h1 {
    z-index: 3;
/*    font-family: 'Roboto Condensed', sans-serif;*/
    font-size: 70px;
    text-align: center;
    float: center;
}
#sub-words {
	color: #726daf;
/*	color: antiquewhite;*/
	text-align: center;
	padding-left: 0;
	font-size: 200%;
}
#sub-p {
	text-align: left;
	padding: 28px 28px;
	font-size: 125%;
	text-align: justify;
}
#Wrapped {
	display : flex;
	flex-direction: row;
	position: relative
}
.tile2{
	max-width: 300px;
	text-align: center;
	padding: 8px;
	color: #726daf;
	margin: 8px;
	border-radius: 8px;
}

.circ {
	border-radius: 50%;
	background-color: #FDE636;
	width: 300px;
	height: 300px;
	margin: 0 50px;
	display:flex;
}
.circ-text {
	padding: 50px;
	color: grey;
	font-size: 20px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	text-align: center;
	align-self: center;
}
.circ-container{
	display: flex;
	justify-content: space-between;
}
.rec {
	border-radius: 50%;
	background-color: #726daf;
	width: 300px;
	height: 100px;
	margin: 0 50px;
	margin-top: 50px;
	display:flex;
}
.rec-text {
	padding: 50px;
	color: white;
	font-size: 17px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: lighter;
	text-align: center;
	align-self: center;
}

#index-footer{
	animation: fadeI ease 4s;
	animation-delay: 6s;
	animation-fill-mode:both;
}


#words{
	float: left;
	flex: 1;
	background-color: lavender;
	opacity: 0.9;
	display:flex;
	flex-direction: column;
	text-align: justify;
}
#kick {
    flex: 1;
    z-index: 1;
	flex-shrink: 1;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
}
#kick-home {
	width: 100%;
	height: 100vh;
	margin-top: -68px;
}

#high {
	max-width: 500px;
	margin-left: 3em;
}

.row1 {
	display: flex;
	background-color: aliceblue;
	margin-bottom: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-radius: 8px;
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#bio{
	float: right;
	text-align: center;
	flex: 1;
	background-color: lavender;
	opacity: 0.9;
}

/*ABOUT PAGE*/
#title2-class {
	color: #EF2B2B;
	text-align: left;
	padding-left: 0;
	padding-right: 3em;
	font-size: 40px;
	margin: unset;
}
#title3-class {
	color: #EF2B2B;
	text-align: left;
/*	padding-left: 0;*/
	padding-right: 3em;
	font-weight: 50;
	font-size: 30px;
	margin: 0 0 10px 0;
}
.image2 {
	width: 30%;
	padding: 10px;
	height: 100%;
}
.image3 {
	width: 85%;
	margin-left: 10px;
	margin-right: 30px;
	box-shadow: 20px 20px red;
}
.image9 {
	width: 93%;
	margin-left: 20px;
	margin-right: 20px;
	padding: 10px;
}
.gallery{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;p.resume {
    text-align: center;
    padding-right: 20px;
    color: #EF2B2B;
}
}
.body {
	text-align: justify;
	width: 30em;
	padding-left: 0;
	margin-left: auto;
	margin-right: auto;
}
p.resume {
    text-align: left;
    padding-right: 20px;
    color: #EF2B2B;
}
#quote {
	text-align: left;
    padding-right: 20px;
    color: #EF2B2B;
	margin-top: 100px;
}
#small_title {
	text-align: center;
    color: #EF2B2B;
	font-size: 25px;
}
p.small {
    text-align: center;
    color: #EF2B2B;
}

#specialize {
	text-align: center;
    color: #EF2B2B;
	font-size: 18px;
}

#icon {
	max-height: 75px;
	float: lef;
	display: inherit;
	margin-left: auto;
	margin-right: auto;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.icon-box {
	display: flex;
	max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about-top{
	display: flex;
	margin-bottom: 16px;
}
#about-p{
	margin-right: 60px;
}
.td-top{
	display: flex;
	margin-bottom: 16px;
	flex-wrap: wrap;
}
.td-top-init{
	display: flex;
	margin-bottom: 100px;
}
.td-flex-container{
	flex:1;
	padding: 0 8px;
/*	flex-basis: 400px;*/
}
.flex-container{
	flex:1;
	padding: 0 8px;
}
.flex-container#large{
	flex:2;
}
.flex-container-about {
	display: flex;
}
.about-left{
	flex: 2;
	padding: 40px 40px 0px 40px;
}
.about-block{
	margin: unset;
}
.p-about {
	padding-left: unset;
	max-width: 600px;
}

.about-right{
	flex: 3;
}
.about-image {
	max-height: 400px;
}

/*EDUCATION PAGE*/
#square {
	max-width: 10em;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	max-height: 10em;
}
#title-class {
	color: #2BD6FF;
	text-align: left;
	padding-left: 0;
/*	padding-right: 3em;*/
	font-size: 40px;
	margin: unset;
}
#title-class-c {
	color: #2BD6FF;
	text-align: center;
	padding-left: 0;
/*	padding-right: 3em;*/
	font-size: 40px;
	margin: unset;
}
.edu-block{
	margin: unset;
}
#strat {
	color: #2BD6FF;
	font-size: 40px;
	text-align: center;
	padding-top: 0px;
}
.image40 {
	width: 100%;
	align-self: center;
	height: 50%;
/*
	margin-left: 10px;
	margin-right: 30px;
*/
}

#sub-class {
	color: #2BD6FF;
	text-align: left;
	padding-left: 0;
/*	padding-right: 3em;*/
	font-weight: 50;
	font-size: 25px;
	margin: 0 0 10px 0;
}
#sub-class-c {
	color: #2BD6FF;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	font-weight: 50;
	font-size: 25px;
	margin: 0 0 10px 0;
}
.sub-p{
	padding: 0 20px;
	text-align: justify;
	font-size: 15px;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
}
/*
.sub-p2{
	padding-top: 15px;
	padding-bottom: 25px;
	padding-left: 10%;
	padding-right: 10%;
	text-align: left;
	background-color: aliceblue;
	font-size: 15px;
}
*/
.des {
	text-align: center;
	text-align: center
}
#classes{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.box{
	flex-basis: 300px;
	text-align: center;
}
.box:nth-child(2n){
	flex-basis: 300px;
	background-color: aliceblue;
}
#ed-image {
	display: flex;
}

/* Projects Page */
#1{
	width: 300px;
	float: left;
	display: flex;
}
#number {
	width: 300px;
}
h3 {
	font-family: 'Roboto Condensed', sans-serif;
	color: grey;
	font-size: 25px;
	text-align: center;
	padding-top: 0px;
}

/* Website Page */
#proj {
    width: 100%;
    padding: 0px;
    float:left;
    display: inline-block;
}
/* Poster Page */
.p-proj {
	padding-left: unset;
	max-width: 600px;
	font-size: 20px;
}
.proj-block{
	margin: unset;
	margin-top: 50px;
}
#title12-class {
	color: #14D356;
	text-align: left;
	padding-left: 0;
	padding-right: 3em;
	font-size: 40px;
	margin: unset;
}
#title13-class {
	color: #14D356;
	text-align: left;
/*	padding-left: 0;*/
	padding-right: 3em;
	font-weight: 50;
	font-size: 30px;
	margin: 0 0 10px 0;
}
#project1 {
	width: 100%;
}
#fpos {
	display: flex;
	justify-content: center;
	max-width: 150px;
	max-height: 200px;
}
#fpos2 {
	width: 40%;
	padding-left: 30px;
	float: left;
}
#gif1{
	display: flex;
	justify-content: center;
	float: right;
	max-width: 400px;
	max-height: 400px;
}
#fpos-other{
	max-width: 400px;
	max-height: 400px;
}

.CPA {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.CPA-rev {
	display: inline-flex;
	flex-wrap: wrap-reverse;
	width: 100%;
}

.flex-CPA {
	flex-basis: 300px;
	flex-grow: 1;
}

.flex-CPA-image {
	padding: 30px;
	max-width: 400px;
}

.flex-CPA > p {
	padding: 10px;
	text-align: center;
}

.giftextparagraph{
	text-align: center;
}

#foot{
	margin-bottom: 4em;
}

/* TD Page */
#td {
	font-family: 'Roboto Condensed', sans-serif;
	color: green;
	font-size: 35px;
	text-align: center;
	padding-top: 0px;
}
#td2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: green;
	font-size: 30px;
	text-align: left;
	padding-top: 0px;
}
#cup {
	width: 500px;
}
#group {
	width: 400px;
}
.image4 {
	width: 55%;
	margin-left: 100px;
/*	margin-right: 30px;*/
	box-shadow: 20px 20px #14D356;
}
.image5 {
	width: 75%;
/*	margin-left: 30px;*/
/*	margin-right: 30px;*/
	box-shadow: 20px 20px #14D356;
}
.image6 {
	width: 90%;
	box-shadow: 20px 20px #14D356;
}
.image7 {
	width: 100%;
}
.image8 {
	width: 90%;
	margin-left: 30px;
	margin-right: 30px;
}
.body2 {
	text-align: justify;
	padding-right: 5em;
}

#mg {
	color: #14D356;
	text-align: center;
}

/*Contemporary Art*/
.title-left{
	flex: 2;
	padding: 10px 10% 0px 10%;
}

.art-image {
	max-height: 350px;
/*	margin-top: 50px;*/
}
#small_title_blue {
/*	margin-top: -30px;*/
	text-align: center;
    color: #394EEF;
	font-size: 25px;
}
#about-p-blue {
	margin-left: 10%;
	margin-right: 10%;
	padding: 0;
	text-align: justify;
}
.small-blue {
	text-align: center;
    color: grey;
}

/* The grid: Four equal columns that floats next to each other */
.column3 {
  padding: 10px 10px 10px 0;
  display: inline-block
}

/* Style the images inside the grid */
.column3 img {
  	opacity: 1;
  	cursor: pointer;
	max-height: 150px;
}

.column3 img:hover {
  opacity: 0.5;
}
#expandedImg, #expandedImg1, #expandedImg2, #expandedImg3, #expandedImg4, #expandedImg5, #expandedImg6, #expandedImg7, #expandedImg8, #expandedImg9, #expandedImg10, #expandedImg11 {
	max-height: 400px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row {
	margin: 0 10%;
	overflow-x: scroll;
	display: inline-block;
		white-space: nowrap;
	width: -webkit-fill-available;
}

/* The expanding image container (positioning is needed to position the close button and the text) */
.container {
  position: relative;
  display: none;
  margin: 0 12.5%;
}

/* Expanding image text */
#imgtext {
	position: absolute;
	bottom: 15px;
	left: 15px;
	color: blue;
	font-size: 20px;
	background-color: whitesmoke;
	font-family: 'Roboto Condensed', sans-serif;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 10px;
  left: 15px;
  color: blue;
	background-color: whitesmoke;
  font-size: 35px;
  cursor: pointer;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	text-align: center;
}

/*PHOTOGRAPHY PAGE*/
#title6-class {
	color: #394EEF;
	text-align: left;
	padding-left: 0;
	padding-right: 3em;
	font-size: 40px;
	margin: unset;
}
#title7-class {
	color: #394EEF;
	text-align: left;
/*	padding-left: 0;*/
	padding-right: 3em;
	font-weight: 50;
	font-size: 30px;
	margin: 0 0 10px 0;
}
.image {
	width: 70%;
	height: 100%;
	padding: 20px;
}
.image:nth-child(-n+17) {
	width: 40%;
}
.image:nth-child(-n+8) {
	width: 70%;
}
.image:nth-child(-n+2) {
	width: 45%;
}
.image:nth-child(4) {
	width: 100%;
	padding: 0;
}
.image:nth-child(19) {
	margin-right: auto;
}
.image:nth-child(20) {
	margin-left: auto;
}
.photography{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1em;
}

.rowp {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns that sits next to each other */
.columnp {
  flex: 24%;
  max-width: 24%;
  padding: 0 4px;
}
.columnp img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 45%;
  margin-left: -80px;
}
.popup2 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popup2 .popuptext2 {
  visibility: hidden;
  width: 610px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 10%;
  left: 32%;
  margin-left: -80px;
}

.popup3 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.popup3 .popuptext3 {
  visibility: hidden;
  width: 610px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px 8px;
  position: absolute;
  z-index: 1;
  bottom: 11%;
  right: 6%;
  margin-left: -80px;
}

/*
 Popup arrow 
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup2 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

.popup3 .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .columnp {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .columnp {
    flex: 100%;
    max-width: 100%;
  }
}

/* CV PAGE */
#title51-class {
	color: #EB23B5;
	text-align: left;
    font-family: 'Roboto Condensed', sans-serif;
	padding-left: 0;
	padding-right: 3em;
	font-size: 40px;
	margin: unset;
}
h1 {
    color: #EB23B5;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
	text-align: left;
	padding-left: 0;
/*	padding-right: 3em;*/
	font-size: 40px;
	margin: unset;
}
h2 {
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 40px;
    color: #EB23B5;
		text-align: left;
/*	padding-left: 0;*/
/*	padding-right: 3em;*/
	font-weight: 50;
	font-size: 30px;
	margin: 0 0 10px 0;
}

#title5-class {
	color: #EB23B5;
	text-align: left;
	padding-left: 0;
	padding-right: 3em;
	font-weight: 50;
	font-size: 30px;
	margin: 0 0 10px 0;
}
#resume3 {
	text-align: left;
/*    padding-right: 20px;*/
    color: #EB23B5;
	margin-top: 90px;
	font-weight: 50;
}
h2.cvh2 {
    color: #EB23B5;
	margin-right: 10px;
}
p {
    font-family: 'Roboto Condensed', sans-serif;
    padding-left: 60px;
    color: grey;
}
strong {
    color: dimgrey;
}
p.resume2 {
    text-align: left;
    color: #EB23B5;
}

/* CONTACT PAGE */
.p-contact {
	padding-left: unset;
}
#title9-class {
	color: #C01DF0;
	font-weight: bold;
	text-align: left;
	padding-left: 0;
	padding-right: 3em;
	font-size: 40px;
	margin: unset;
}
#title11-class {
	color: #C01DF0;
	text-align: left;
/*	padding-left: 0;*/
	padding-right: 3em;
	font-weight: 50;
	font-size: 30px;
	margin: 0 0 10px 0;
}
strong2 {
    color: #C01DF0;
}
.contact-left{
	flex: 1;
}
.contact-right{
	flex: 2;
	padding: 40px;
}

.pic1 {
/*    width: 40%;*/
/*    padding: 25px;*/
/*    float: left;*/
	max-height: 500px;
	margin-left: 7em;
/*	margin-left: auto;*/

}
/*
#contact {
    padding-top: 100px;
    text-align: left;
    widows: 40%;
    color: #C01DF0;
}
*/
h2 {
	color: #FDE636;
}

p {
    text-align: left;
}